
nav a {
    color: lightcoral;
}
a.navbar-brand {
    color: teal;
}
a:hover {
    color: lightgrey;
}

h6 {
    letter-spacing: 3px;
    color: lightcoral;
}


#content {
    margin-top: 50px;
    padding-bottom: 50px;
}
.card {
    padding: 10px;
}
.btn-more {
    border: 2px solid lightcoral;
    color: lightcoral;
}
.btn-back {
    border: 2px solid lightgrey;
    color: lightgrey;
}
.project-content {
    padding-top: 20px;
}

.mycontact {
    padding-top: 50px;
}

.resume {
    padding-top: 20px;
}

.back {
    padding-top: 50px;
    padding-left: 15px;

}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

